RewriteEngine On

<IfModule mod_headers.c>
	Header always unset Server
	Header always unset Connection
</IfModule>


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) wadadli/bin/wadadli.php

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
