<?xml version="1.0"?>
<mapping>
	<settingslist>
		<settings>
			<name>authentication</name>
			<values>
				<controller></controller>
			</values>
		</settings>
		<settings>
			<name>database</name>
			<values>
				<hostname>localhost</hostname>
				<database>wadapi_main</database>
				<username>wadapi_main</username>
				<password>2#wGgy6)*3%</password>
				<tableprefix>profiler</tableprefix>
				<hitsforindex>100</hitsforindex>
			</values>
		</settings>
		<settings>
			<name>install</name>	
			<values>
				<projectpath>/home/wadapi/framework/core/profiler/</projectpath>
				<urlroot>profiler.mywadapi.com</urlroot>
				<dispatcher>Dispatcher</dispatcher>
			</values>
		</settings>
		<settings>
			<name>logging</name>
			<values>
				<level>debug</level>
				<handler>APIError</handler>
			</values>
		</settings>
		<settings>
			<name>api</name>
			<values>
				<formats>application/json</formats>
				<languages>en,en-au,en-bz,en-ca,en-ie,en-jm,en-nz,en-ph,en-za,en-tt,en-gb,en-us,en-zw</languages>
				<charsets>utf-8</charsets>
			</values>
		</settings>
		<settings>
			<name>profiler</name>
			<values>
				<api>14844134390113</api>
				<profiling>on</profiling>
			</values>
		</settings>
	</settingslist>
</mapping>
