<?xml version="1.0"?>
<mapping>
	<settingslist>
		<settings>
			<name>authentication</name>
			<values>
				<controller></controller>
			</values>
		</settings>
		<settings>
			<name>database</name>
			<values>
				<hostname></hostname>
				<database></database>
				<username></username>
				<password></password>
				<tableprefix></tableprefix>
				<hitsforindex></hitsforindex>
			</values>
		</settings>
		<settings>
			<name>install</name>
			<values>
				<projectpath></projectpath>
				<urlroot></urlroot>
				<dispatcher></dispatcher>
			</values>
		</settings>
		<settings>
			<name>logging</name>
			<values>
				<level></level>
				<handler></handler>
			</values>
		</settings>
		<settings>
			<name>api</name>
			<values>
				<formats>application/json</formats>
				<languages>en,en-au,en-bz,en-ca,en-ie,en-jm,en-nz,en-ph,en-za,en-tt,en-gb,en-us,en-zw</languages>
				<charsets>utf-8</charsets>
				<key></key>
				<secret></secret>
			</values>
		</settings>
		<settings>
			<name>chantico</name>
			<values>
				<root>https://login.sandbox.mywadapi.com</root>
				<api></api>
				<key></key>
				<secret></secret>
			</values>
		</settings>
	</settingslist>
</mapping>
